<ion-content>
  <div class="container">
      <img id="logo-app" src="../../assets/icon/logo-blue.png"/>
  </div>
  <div class="container">
      <img id="avatar" src="../../assets/icon/avatar-blue.png"/>
  </div>

  <form id="form-cadastro">
    <ion-grid>
      <ion-row>
        <input type="text" name="nome" placeholder="Digite seu nome">
      </ion-row>
      <ion-row>
        <input type="text" name="matricula" placeholder="Digite sua matricula">
      </ion-row>
      <ion-row>
        <input type="text" name="email" placeholder="Digite seu email">
      </ion-row>
      <ion-row>
        <input type="password" name="senha" placeholder="Crie uma senha">
      </ion-row>
      <ion-row>
        <input type="password" name="conf-senha" placeholder="Confirme sua senha">
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>
            <button type="button" name="cancelar" id="btn-cancelar">Cancelar</button>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <button type="submit" name="cadastrar" id="btn-cadastrar">Cadastre-se</button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <div id="footer-holder">
    <div>
      <img id="logo-ufla" src="../../assets/icon/ufla-logo.png"/>
    </div>
  </div>
</ion-content>
