<ion-content>
  <div class="container">
      <img id="logo-app" src="../../assets/icon/logo-blue.png"/>
  </div>
  <div class="container">
      <img id="avatar" src="../../assets/icon/avatar-blue.png"/>
  </div>

    <ion-grid>
      <ion-row>
          <input type="text" [(ngModel)]="nome" placeholder="Digite seu nome">
      </ion-row>
      <ion-row>
        <input type="text" [(ngModel)]="matricula" placeholder="Digite sua matricula">
      </ion-row>
      <ion-row>
        <input type="text" [(ngModel)]="email" placeholder="Digite seu email">
      </ion-row>
      <ion-row>
        <input type="password" [(ngModel)]="senha" placeholder="Crie uma senha">
      </ion-row>
      <ion-row>
        <input type="password" [(ngModel)]="confirmacaoSenha" placeholder="Confirme sua senha">
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>
            <button type="button" name="cancelar" id="btn-cancelar" [routerLink]="['/login']">Cancelar</button>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <button name="cadastrar" id="btn-cadastrar" (click)="registrar()">Cadastre-se</button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

  <div id="footer-holder">
    <div>
      <img id="logo-ufla" src="../../assets/icon/ufla-logo.png"/>
    </div>
  </div>
</ion-content>
