<ion-header>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-icon id="fav-icon" name="arrow-back" slot="start" (click)="this._location.back()"></ion-icon>
      <ion-title>
        <img id="logo" src="../assets/icon/logo.png"/>
      </ion-title>
      <ion-icon id="fav-icon" name="person" slot="end" [routerLink]="['/usuario']"></ion-icon>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content>
  <app-publicador-header [id]="publicador.id" [titulo]="publicador.titulo" [nInscritos]="publicador.nInscritos" [image]="publicador.image"></app-publicador-header>

  <div *ngFor="let noticia of noticias">
    <app-publicacao-card [routerLink]="['/publicacao/'] + noticia.id" [id]="noticia.id" [titulo]="noticia.titulo" [data]="noticia.data | date:'dd/MM/yyyy - HH:mm'" [img_url]="noticia.img_url" [likes]="noticia.likes | number"></app-publicacao-card>
  </div>

</ion-content>
