#publicacao-content{
  background-color: white;
  padding: 10px;
}

#publicacao-session{
  color: black;
  margin: 5px;
}

.session-title{
  border-bottom: 1px solid #008639;
  margin-bottom: 10px;
  font-size: 15px;
}

.session-description{
  font-size: 12px;
}

#img-icon{
  height: 15px;
  width: 15px;
}
