<ion-card class="card-container">
  <ion-row>
    <ion-col size="5" class="card-img">
      <div class="img"></div>
    </ion-col>
    <ion-col size="7" class="card-content">
      <ion-row>
        <ion-card-title class="card-title">{{titulo}}</ion-card-title>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row class="card-value">{{nPublicacoes}}</ion-row>
          <ion-row class="card-label">Publicações</ion-row>
        </ion-col>
        <ion-col>
          <ion-row class="card-value">{{nInscritos}}</ion-row>
          <ion-row class="card-label">Inscritos</ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button color="transparent" (click)="clickInscreverButton()" class="card-button">{{acao}}<ion-icon name="remove" class="card-button-icon"></ion-icon></ion-button>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-card>