ion-card-title{
  font-size: 15px;
}

ion-row,ion-col{
  justify-content: center;
  padding:0px;
}

.card-img{
  margin: 0 !important;
  padding: 0 !important;

  .img{
    background-size: cover;
    height: 100%;
    background-image: url("https://image.freepik.com/fotos-gratis/formas-geometricas-dentro-da-cavidade-quadrada-oca_105589-527.jpg");
  }
}

.border-div{
  border-top: 1px solid #008639;
  width: 60%;
}

.card-container{
  padding:0px;
  background-color: white;
}

.card-img{
  max-height: 130px;
}

.card-content{
  margin: auto;
}

.card-label{
  font-size: 10px;
}

.card-number{
  font-size:16px;
}

.card-content-info{
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-button-icon{
  margin-left: 5px;
}

.card-button{
  background-color: white;
  color: #008639;
  border-width: 1px;
  border-style: solid;
  border-color: #008639;
  border-radius: 3px;
  font-size: 11px;
  height: 20px;
}
