<ion-card class="card-container">
  <ion-row>
    <ion-col size="5" class="card-img">
      <div class="img"></div>
    </ion-col>
    <ion-col size="7" class="card-content">
      <ion-row>
        <ion-card-title class="card-title">Restaurante Universitário</ion-card-title>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row class="card-value">20</ion-row>
          <ion-row class="card-label">Publicações</ion-row>
        </ion-col>
        <ion-col>
          <ion-row class="card-value">1k</ion-row>
          <ion-row class="card-label">Inscritos</ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button color="transparent" class="card-button">Desinscrever<ion-icon name="remove" class="card-button-icon"></ion-icon></ion-button>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-card>