<ion-header>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-icon id="fav-icon" name="arrow-back" slot="start" routeDirection="backward" (click)="this._location.back()"></ion-icon>
      <ion-title>
        <img id="logo" src="../assets/icon/logo.png"/>
      </ion-title>
      <ion-icon id="fav-icon" name="person" slot="end"></ion-icon>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content>
  <app-publicacao-header [titulo]="publicacao.titulo" [data]="publicacao.data | date:'dd/MM/yyyy - HH:mm'" [likes]="publicacao.likes" [img_url]="publicacao.img_url"></app-publicacao-header>
  <app-publicacao-content-card [secoes]="publicacao.secoes"></app-publicacao-content-card>

  <ion-card id="make-comment-component">
    <form id="comment-form">
      <ion-row>
        <ion-col>
          <textarea rows="4" cols="40" placeholder="Escrever comentário .."></textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col id="submmit">
          <ion-button color="white" id="submmit-button">Enviar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>

  <app-comment-card [comments]="comentarios"></app-comment-card>

</ion-content>
