ion-content,ion-header{
  --ion-background-color: #004B80;
}

.ion-padding{
  padding: 0px!important;
}

#fav-icon{
  font-size: 25px;
}

#logo{
  max-height: 25px;
  padding-top: 10px;
}

#make-comment-component{
  padding: 10px;
  font-size: 13px;
  background-color: white;
}

#submmit-button{
  background-color: white;
  color: #008639;
  border-width: 1px;
  border-style: solid;
  border-color: #008639;
  border-radius: 3px;
  font-size: 13px;
  height: 20px;
}

textarea{
  border: none;
}
