<ion-content>
  <div class="container">
      <img id="logo-app" src="../../assets/icon/logo-blue.png"/>
  </div>
  <form id="form-cadastro">
    <ion-grid>
      <ion-row>
        <input type="text" name="email" placeholder="Email">
      </ion-row>
      <ion-row>
        <input type="text" name="senha" placeholder="*********">
      </ion-row>
      <ion-row>
        <button type="submit" name="entrar" id="btn-entrar">Entrar</button>
      </ion-row>
      <ion-row>
        <a href="#">Cadastre-se</a>
      </ion-row>
    </ion-grid>
  </form>
  <div id="footer-holder">
    <div>
      <img id="logo-ufla" src="../../assets/icon/ufla-logo.png"/>
    </div>
  </div>
</ion-content>
