<ion-content>
  <div class="container">
      <img id="logo-app" src="../../assets/icon/logo-blue.png"/>
  </div>
    <ion-grid>
      <ion-row>
        <input type="text" name="email" [(ngModel)]="email" placeholder="Email">
      </ion-row>
      <ion-row>
        <input type="password" name="senha" [(ngModel)]="senha" placeholder="*********">
      </ion-row>
      <ion-row>
        <button name="entrar" id="btn-entrar" (click)="login()">Entrar</button>
      </ion-row>
      <ion-row>
        <a [routerLink]="['/cadastro/']">Cadastre-se</a>
      </ion-row>
    </ion-grid>
  <div id="footer-holder">
    <div>
      <img id="logo-ufla" src="../../assets/icon/ufla-logo.png"/>
    </div>
  </div>
</ion-content>
