.pre-icon{
  margin-right: 5px;
  font-size: 13px;
}

#comment-card{
  padding: 10px;
  background-color: white;
  color: black;
}

#comment-content{
  font-size: 12px;
  border-bottom: 1px solid #008639;
  padding-bottom: 10px;
}

#comment-info{
  font-size: 12px;
}
