.img-publicacao{
  //background-image: url("https://public-v2links.adobecc.com/cb1de58f-2bd2-4946-5068-db069a1a9483/component?params=component_id:66f9b968-0757-4ed6-9dc9-63b8fe8420eb&params=version:0&token=1572719278_da39a3ee_a1316116348c58b746363ec925a112e9ffac4913&api_key=CometServer1");
  background-color: #cccccc;
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 200px;
  margin-left: 25px;
  margin-right: 25px;
}

#img-mascara{
  background-image: url("../../assets/icon/mascara.png");
  background-color: transparent;
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 200px;
}

ion-row{
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

ion-grid{
  padding-top: 120px;
}

#post-title{
  font-size: 20px;
  margin-bottom: 10px;
}

.post-info{
  font-size: 12px;
  margin-bottom: 5px;
}

.pre-icon{
  margin-right: 5px;
}
