

ion-searchbar{
  padding-left: 50px;
  padding-right: 50px;
  height: 30px;
}

ion-content,ion-header{
  --ion-background-color: #004B80;
}

.ion-padding{
  padding-left:5px !important;
  padding-right: 5px!important;
}

#fav-icon{
  font-size: 25px;
}

#logo{
  max-height: 25px;
  padding-top: 10px;
}
