<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <img id="logo" src="../assets/icon/logo.png"/>
    </ion-title>
    <ion-icon id="fav-icon" name="person" slot="end" [routerLink]="['/usuario/'] + id"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" >
    <ion-searchbar placeholder="Buscar Publicador" color="light"></ion-searchbar>
    <div *ngFor="let publicador of listaDePublicadores">
    <app-card [titulo]="publicador.titulo" [nInscritos]="publicador.nInscritos" [nPublicacoes]="publicador.publicacoes.length" [image]="publicador.image" [id]="publicador.id"></app-card>
    </div>
  </div>
</ion-content>
